
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: black;
}
html{
    font-family: 'Inter', sans-serif;
    height: 2000px;
}

.header-navbar{
    height: 70px;
    background-color: #EBEBEB; 
    position: fixed;
    width: 100%;
    top:0;
    z-index: 1;
}
header a{
    text-decoration: none;
}
header li {
    list-style-type: none;
}
.navbar{
display: flex;
justify-content:space-between;
padding: 15px 95px 15px 2px;                
align-items: center;
height: 100%;
width: 100%;
/* background-color: red; */
}
.navbar h2{
margin-left: -110px;
}

.navbar span{
color: red;
}

.navbar-links{
display: flex;
align-items: center;
position: relative;
left: 60px;
}

.navbar-links a{
padding: 10px 20px;
}
.navbar-social-media{
 display: flex;
 justify-content: space-around;
 position: relative;
 left: -100px;         
}
.navbar-social-media a{
padding: 10px 10px; 
font-size: 22px;
}
.navbar img{
width: 150px;
}
.navbar-button{
background-color: #182747;
color:#fff;
padding: 10px 11px;
border: 2px transparent;
border-radius: 5px;
position: relative;
left: 100px;

}
hr{ 

     border:none;
     border-left:1px solid black;
     height:50px;
     width:1px;       
}

.section-content{
 margin-top: 70px;
 background-image: linear-gradient(to right, #0b222b, #091935, #0c2228, #051732);
 height: 85vh;
 
 
}
.content-left{
    font-size: 22px;
}
.content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    font-size: 24px;
}
.content-left h2,p{
    color:white;
}

.content .content-left{
    width: 600px;
    line-height: 40px;
}
.content .content-right:hover{
    transform: scale(1.2);
    
}
.content-right{
    transition: 1.2s;
}
.beyaz-img{
    height: 450px;
}

.video{
    background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
    color: black;
    padding: 9px 9px;
    border: 1px transparent;
    border-radius:70px;
}
.content-left a{
    color: #fff;
    text-decoration: none;
}
.video i{
    color: #fff;
}
.video:hover{
    
    font-size: 26px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

}
