@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Metrophobic&family=Noto+Sans:wght@100;200;300;400;500&family=Quicksand:wght@300;400;500&family=Zen+Dots&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
   font-size: 10px;
}

body{
    
    font-size: 1.6rem ;
    background: #fff;
    color: #333;
    line-height: 1.6;   

    /* background: #000428;  
    background: -webkit-linear-gradient(to top, #000066, #000428);   
    background: linear-gradient(to top, #000066, #000428);  */
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

p{
    margin: 1rem 0;
}

.text-center{
    text-align: center;
}

/* navbar */
.navbar-section{
  background-color: #fff;
    padding-top: 30px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 29px;
    height: 86px;
    border-bottom: 3px solid #8D021F;
    position: fixed;
    width: 100%;
    z-index: 99;
}
.navbar-section ul li  a{
    color: black;
    padding: 5px 20px;
    margin-left: 10px;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar nav{
    position: relative;
    right: 90px;
}

.navbar_logo a{
    color: black;
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;
    letter-spacing: 3px;
    
}

.navbar_logo{
    padding-left: 75px;
}
.fa-angle-down{
    font-size: 19px;
}
.fa-phone{
    padding-right: 10px;
}

/* main-contect */
.main-content {
    padding-top: 120px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(
        45deg,
        hsl(240deg 100% 20%) 0%,
        hsl(241deg 98% 19%) 11%,
        hsl(241deg 96% 18%) 22%,
        hsl(242deg 95% 16%) 33%,
        hsl(242deg 92% 15%) 44%,
        rgb(26, 22, 99) 56%,
        hsl(243deg 88% 13%) 67%,
        hsl(243deg 87% 12%) 78%,
        hsl(244deg 85% 11%) 89%,
        hsl(244deg 84% 10%) 100%
      );
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.main-content h1{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    line-height: 60px;
    font-size: 41px;
}
.main-content p {
    font-family: 'Inter', sans-serif;
    font-size: 23px;
    color: #adb5bd;
}

.main-content .c_left{
    width: 40%;
    padding-left: 90px;
    
    padding-bottom: 60px;
}
.c_left h1{
    font-size: 3.8rem;
}
.main-content .c_left{
    
    flex: 50%; 
    
}
.main-content .c_right{
    padding-left: 90px;
    flex: 30%; 
    margin-right: 60px;
    position: relative;
    bottom: 15px;
}

/*------- page of contact_us---------  */

.contact_us {
    position: relative;
    top:87px;
    display: flex;
    font-size: 1.9rem;
    justify-content: space-around;
    align-items: center;
    background-image:url(images/bg_image2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: linear-gradient(
        45deg,
        hsl(240deg 100% 20%) 0%,
        hsl(241deg 98% 19%) 11%,
        hsl(241deg 96% 18%) 22%,
        hsl(242deg 95% 16%) 33%,
        hsl(242deg 92% 15%) 44%,
        rgb(26, 22, 99) 56%,
        hsl(243deg 88% 13%) 67%,
        hsl(243deg 87% 12%) 78%,
        hsl(244deg 85% 11%) 89%,
        hsl(244deg 84% 10%) 100%
      ); */
    height: 90vh;
}

.contact_us .c-us_left{
    font-size: 2.9rem;
    color: white;
    font-family: 'Metrophobic', sans-serif;
    flex: 50%;
    padding: 0 120px;
}
.c-us_left h1{
    font-size: 35px;
    line-height: 50px;
}
.c-us_left p{
    font-size: 18px;
    line-height: 20px;
    width: 700px;
}

/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #6F55FF;
    border-radius: 10px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    width: 100px;
    color: whitesmoke;
    font-family:'Courier New', Courier, monospace;
    font-size: 18px;
    font-style:inherit;
    font-weight:bolder;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #6F55FF;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    float: right;
  }
  
  .c-us_right{
    flex: 30%;
    padding: 0 50px;
  }
  
  .container {
    
    background-color:transparent;
    padding: 15px 75px;
    border-radius: 20px;
    font-size: 1.7rem;   
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
    position: relative; left: 25px;
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  

  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  /* feature-header css */
  .feature_header h1{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 4.1rem;
    color: #131318;
    text-align: center;
  }


  /* progress-bar css */
  .progress-bars{
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    margin-top: 90px;
  }
  .container-progress-bars:hover{
    background-color: red;
  }
  

 
 

