@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Metrophobic&family=Noto+Sans:wght@100;200;300;400;500&family=Quicksand:wght@300;400;500&family=Zen+Dots&display=swap');

:root{
    --white: #fff;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --danger: #dc3545;
    --warning: #ffc107;
    --info: #17a2b8;
    --dark: #343a40;
    --light: #f8f9fa;
}

/* text-color */
.text-white{ color: var(--white);}
.text-primary{ color: var(--primary);}
.text-secondary{color: var(--secondary);}
.text-success{color: var(--success);}
.text-danger{color: var(--danger);}
.text-warning{color: var(--warning);}
.text-info{color: var(--info);}
.text-dark{color: var(--dark);}
.text-light{color: var(--light);}

/* background-color */
.bg-white{background-color:var(--white);}
.bg-primary{background-color: var(--primary);}
.bg-secondary{background-color: var(--secondary);}
.bg-succes{background-color: var(--success) ;}
.bg-danger{background-color: var((--danger));}
.bg-warning { background-color: var(--warning); }
.bg-info { background-color: var(--info);}
.bg-dark { background-color: var(--dark);}
.bg-light { background-color: var(--light);}

/* about-buttons */
.btn{
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
}

.btn-contact_us{
    cursor: pointer;
    border: 2px solid red;  
    border-radius:56px;
}

.btn:hover {
    opacity: 0.9;
}
.btn-primary {
    color: var(--white);
    background-color: var(--primary);
}

.btn-secondary {
    color: var(--white);
    background-color: var(--secondary);
}

.btn-success {
    color: var(--white);
    background-color: var(--success);
}

.btn-danger {
    color: var(--white);
    background-color: var(--danger);
}

.btn-warning {
    color: var(--white);
    background-color: var(--warning);
}

.btn-dark {
    color: var(--white);
    background-color: var(--dark);
}

.btn-outline-primary {
    background: transparent;
    border: 1px solid var(--primary);
    color: var(--dark);
}

.btn-outline-primary:hover {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: var(--white);
}

.btn-try {
    border: none;
    padding: 0.8em 2.5em;
    outline: none;
    color: white;
    font-style: 1.2em;
    position: relative;
    z-index: 1;
    cursor: pointer;
    background: none;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
  }
  
  .btn-try:before,
  .btn-try:after {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10em;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 105%;
    height: 105%;
    content: "";
    z-index: -2;
    background-size: 400% 400%;
    background: linear-gradient(
      60deg,
      #f79533,
      #f37055,
      #ef4e7b,
      #a166ab,
      #5073b8,
      #1098ad,
      #07b39b,
      #6fba82
    );
  }
  
  .btn-try:before {
    -webkit-filter: blur(7px);
    filter: blur(7px);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-animation: pulse 10s infinite ease;
    animation: pulse 10s infinite ease;
  }
  
  .btn-try:after {
    -webkit-filter: blur(0.3px);
    filter: blur(0.3px);
  }
  
  .btn-try:hover:before {
    width: 115%;
    height: 115%;
  }

/* progress-bar css codes */

*,
*:before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-progress-bars-1, .container-progress-bars-2, .container-progress-bars-3, .container-progress-bars-4{
    height: 210px;
    width: 210px;
    background-color: transparent;
    border-radius: 8px;
    /* box-shadow: 20px 20px 40px rgba(60, 60, 150, 0.50); */
    place-items: center;
    display: grid;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

}
.circular-progress-1, .circular-progress-2, .circular-progress-3, .circular-progress-4{
    position: relative;
    height: 150px;
    width: 150px;
    background-color: yellow;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.circular-progress-1::before, .circular-progress-2::before, .circular-progress-3::before, .circular-progress-4::before{
    content: "";
    position: absolute;
    height: 84%;
    width: 84%;
    background-color: #ffffff;
    border-radius: 50%;
}
.value-container-1, .value-container-2, .value-container-3, .value-container-4{
    position: relative;
    font-family: 'Zen Dots', cursive;
    font-size: 20px;
    color: black;
}